/* Reset:
  ========================================================================== */
* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
a:active,
a:hover {
  outline: 0;
}
ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}
html,
body {
  box-sizing: border-box;
  font-size: 16px;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
:focus {
  outline: 0;
}
img,
audio,
video {
  max-width: 100%;
  height: auto;
}
iframe {
  border: 0;
}
textarea {
  resize: none;
  /*remove the resize handle on the bottom right*/
  overflow: auto;
  vertical-align: top;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}
input,
textarea,
select,
button {
  outline: none;
  border: none;
  font-size: 100%;
  margin: 0;
}
button,
input {
  line-height: normal;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: #000000;
  transition: background-color 5000s ease-in-out 0s;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
  text-align: left;
}
/* Responsive media queries:
 ========================================================================== */
@font-face {
  font-family: "Roboto700";
  /*Can be any text*/
  src: local("Roboto-Bold"), url("/public/fonts/Roboto/static/Roboto-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto500";
  /*Can be any text*/
  src: local("Roboto-Medium"), url("/public/fonts/Roboto/static/Roboto-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto400";
  /*Can be any text*/
  src: local("Roboto-Regular"), url("/public/fonts/Roboto/static/Roboto-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto300";
  /*Can be any text*/
  src: local("Roboto-Light"), url("/public/fonts/Roboto/static/Roboto-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto200";
  /*Can be any text*/
  src: local("Roboto-Thin"), url("/public/fonts/Roboto/static/Roboto-Thin.ttf") format("truetype");
}
@font-face {
  font-family: "BebasNeue";
  /*Can be any text*/
  src: local("BebasNeue-Regular"), url("/public/fonts/Bebas_Neue/BebasNeue-Regular.ttf") format("truetype");
}
html {
  background-color: #0B1A3F;
}
body {
  width: 100vw;
  height: 100vh;
  background-color: #0B1A3F;
}
body * {
  font-family: Roboto400, sans-serif;
}
.container {
  width: 90%;
  padding: 40px 0;
  max-width: 1120px;
}
@media screen and (min-width: 768px) {
  .container {
    padding: 60px 0;
  }
}
@media screen and (min-width: 992px) {
  .container {
    padding: 80px 0;
  }
}
.container-horizontal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.container-vertical {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 32px;
}
@media screen and (min-width: 992px) {
  .container-vertical {
    gap: 56px;
  }
}
.sectionCommon {
  width: 100vw;
  display: flex;
  align-self: center;
  justify-content: center;
}
.sectionTitle {
  color: #FFF;
  font-family: BebasNeue, sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  /* 91px */
  text-box-edge: cap alphabetic;
  text-box-trim: trim-both;
}
@media screen and (min-width: 576px) {
  .sectionTitle {
    font-size: 60px;
  }
}
@media screen and (min-width: 768px) {
  .sectionTitle {
    font-size: 65px;
  }
}
@media screen and (min-width: 992px) {
  .sectionTitle {
    font-size: 90px;
  }
}
.sectionSubtitle {
  color: #FFF;
  text-align: center;
  font-family: Roboto200, sans-serif;
  font-size: 18px;
  font-style: normal;
  line-height: normal;
}
@media screen and (min-width: 768px) {
  .sectionSubtitle {
    font-size: 24px;
  }
}
.aboutUs {
  width: 100vw;
  display: flex;
  align-self: center;
  justify-content: center;
  border-top: 0.75px dashed rgba(255, 255, 255, 0.25);
  border-bottom: 0.75px dashed rgba(255, 255, 255, 0.25);
}
@media screen and (min-width: 576px) {
  .aboutUs {
    border-top-width: 1px;
    border-bottom-width: 1px;
  }
}
.aboutUs h3 {
  color: #FFF;
  text-align: center;
  font-family: Roboto200, sans-serif;
  font-size: 18px;
  font-style: normal;
  line-height: normal;
}
@media screen and (min-width: 768px) {
  .aboutUs h3 {
    font-size: 24px;
  }
}
.aboutUs__keyPoints {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}
@media screen and (min-width: 576px) {
  .aboutUs__keyPoints {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: unset;
  }
}
.aboutUs__keyPoints__item {
  width: 100%;
  display: flex;
  gap: 18px;
  flex-shrink: 0;
}
@media screen and (min-width: 576px) {
  .aboutUs__keyPoints__item {
    width: 32%;
    max-width: 350px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
  }
}
@media screen and (min-width: 768px) {
  .aboutUs__keyPoints__item {
    padding: 12px;
    gap: 32px;
  }
}
.aboutUs__keyPoints__item__icon {
  display: flex;
  width: 70px;
  height: 70px;
  justify-content: center;
  align-items: center;
  border-radius: 50px 50px 250px 250px;
  background: rgba(0, 73, 152, 0.75);
}
@media screen and (min-width: 576px) {
  .aboutUs__keyPoints__item__icon {
    width: 110px;
    height: 110px;
  }
}
@media screen and (min-width: 768px) {
  .aboutUs__keyPoints__item__icon {
    width: 120px;
    height: 120px;
  }
}
@media screen and (min-width: 992px) {
  .aboutUs__keyPoints__item__icon {
    width: 140px;
    height: 140px;
  }
}
.aboutUs__keyPoints__item__icon svg {
  width: 30px;
  height: 30px;
  flex-shrink: 0;
  aspect-ratio: 1/1;
}
@media screen and (min-width: 576px) {
  .aboutUs__keyPoints__item__icon svg {
    width: 45px;
    height: 45px;
  }
}
@media screen and (min-width: 768px) {
  .aboutUs__keyPoints__item__icon svg {
    width: 50px;
    height: 50px;
  }
}
@media screen and (min-width: 992px) {
  .aboutUs__keyPoints__item__icon svg {
    width: 60px;
    height: 60px;
  }
}
.aboutUs__keyPoints__item p {
  width: calc(100% - 12px - 70px);
  color: #FFF;
  text-align: start;
  font-family: Roboto200, sans-serif;
  font-size: 14px;
  font-style: normal;
  line-height: 150%;
  /* 27px */
}
@media screen and (min-width: 576px) {
  .aboutUs__keyPoints__item p {
    width: 100%;
    text-align: center;
  }
}
@media screen and (min-width: 992px) {
  .aboutUs__keyPoints__item p {
    font-size: 18px;
  }
}
/*# sourceMappingURL=index.css.map */