/* Reset:
  ========================================================================== */
* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
a:active,
a:hover {
  outline: 0;
}
ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}
html,
body {
  box-sizing: border-box;
  font-size: 16px;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
:focus {
  outline: 0;
}
img,
audio,
video {
  max-width: 100%;
  height: auto;
}
iframe {
  border: 0;
}
textarea {
  resize: none;
  /*remove the resize handle on the bottom right*/
  overflow: auto;
  vertical-align: top;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}
input,
textarea,
select,
button {
  outline: none;
  border: none;
  font-size: 100%;
  margin: 0;
}
button,
input {
  line-height: normal;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: #000000;
  transition: background-color 5000s ease-in-out 0s;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
  text-align: left;
}
/* Responsive media queries:
 ========================================================================== */
@font-face {
  font-family: "Roboto700";
  /*Can be any text*/
  src: local("Roboto-Bold"), url("/public/fonts/Roboto/static/Roboto-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto500";
  /*Can be any text*/
  src: local("Roboto-Medium"), url("/public/fonts/Roboto/static/Roboto-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto400";
  /*Can be any text*/
  src: local("Roboto-Regular"), url("/public/fonts/Roboto/static/Roboto-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto300";
  /*Can be any text*/
  src: local("Roboto-Light"), url("/public/fonts/Roboto/static/Roboto-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto200";
  /*Can be any text*/
  src: local("Roboto-Thin"), url("/public/fonts/Roboto/static/Roboto-Thin.ttf") format("truetype");
}
@font-face {
  font-family: "BebasNeue";
  /*Can be any text*/
  src: local("BebasNeue-Regular"), url("/public/fonts/Bebas_Neue/BebasNeue-Regular.ttf") format("truetype");
}
html {
  background-color: #0B1A3F;
}
body {
  width: 100vw;
  height: 100vh;
  background-color: #0B1A3F;
}
body * {
  font-family: Roboto400, sans-serif;
}
.container {
  width: 90%;
  padding: 40px 0;
  max-width: 1120px;
}
@media screen and (min-width: 768px) {
  .container {
    padding: 60px 0;
  }
}
@media screen and (min-width: 992px) {
  .container {
    padding: 80px 0;
  }
}
.container-horizontal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.container-vertical {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 32px;
}
@media screen and (min-width: 992px) {
  .container-vertical {
    gap: 56px;
  }
}
.sectionCommon {
  width: 100vw;
  display: flex;
  align-self: center;
  justify-content: center;
}
.sectionTitle {
  color: #FFF;
  font-family: BebasNeue, sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  /* 91px */
  text-box-edge: cap alphabetic;
  text-box-trim: trim-both;
}
@media screen and (min-width: 576px) {
  .sectionTitle {
    font-size: 60px;
  }
}
@media screen and (min-width: 768px) {
  .sectionTitle {
    font-size: 65px;
  }
}
@media screen and (min-width: 992px) {
  .sectionTitle {
    font-size: 90px;
  }
}
.sectionSubtitle {
  color: #FFF;
  text-align: center;
  font-family: Roboto200, sans-serif;
  font-size: 18px;
  font-style: normal;
  line-height: normal;
}
@media screen and (min-width: 768px) {
  .sectionSubtitle {
    font-size: 24px;
  }
}
header {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  position: fixed;
  z-index: 100;
}
header.opaque {
  background-color: #0B1A3F;
  box-shadow: 0px 5px 30px 0px rgba(6, 29, 53, 0.87);
}
header .container {
  padding: 24px 0 !important;
}
@media screen and (max-width: calc(768px - 1px)) {
  header .container {
    padding: 20px 0 !important;
  }
}
@media screen and (max-width: calc(576px - 1px)) {
  header .container {
    padding: 16px 0 !important;
  }
}
header .navigation {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
}
header .navigation__links {
  display: flex;
  align-items: center;
  gap: 56px;
}
@media screen and (max-width: calc(1200px - 1px)) {
  header .navigation__links {
    gap: 42px;
  }
}
@media screen and (max-width: calc(992px - 1px)) {
  header .navigation__links {
    gap: 24px;
  }
}
@media screen and (max-width: calc(768px - 1px)) {
  header .navigation__links {
    gap: 16px;
  }
}
@media screen and (max-width: calc(576px - 1px)) {
  header .navigation__links {
    display: none;
  }
}
header .navigation__links a {
  color: #FFF;
  font-family: BebasNeue, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
  border-bottom: 2px solid transparent;
}
header .navigation__links a:hover {
  border-color: #0975E8;
}
@media screen and (max-width: calc(992px - 1px)) {
  header .navigation__links a {
    font-size: 20px;
  }
}
@media screen and (max-width: calc(768px - 1px)) {
  header .navigation__links a {
    font-size: 16px;
  }
}
header .navigation__logo {
  width: 180px;
  display: flex;
  align-self: center;
  justify-content: center;
}
header .navigation__logo img {
  width: 100%;
}
@media screen and (max-width: calc(1200px - 1px)) {
  header .navigation__logo {
    width: 160px;
  }
}
@media screen and (max-width: calc(992px - 1px)) {
  header .navigation__logo {
    width: 135px;
  }
}
@media screen and (max-width: calc(768px - 1px)) {
  header .navigation__logo {
    width: 110px;
  }
}
header .burger-menu {
  width: 25px;
  cursor: pointer;
}
header .burger-menu:before,
header .burger-menu:after,
header .burger-menu div {
  background: white;
  content: '';
  display: block;
  height: 2px;
  margin: 5px 0;
  transition: 0.5s;
  border-radius: 2px;
}
header .burger-menu.active {
  width: 25px;
}
header .burger-menu.active:before,
header .burger-menu.active:after,
header .burger-menu.active div {
  content: '';
  height: 2px;
  background: white;
}
header .burger-menu.active:before {
  transform: translateY(7px) rotate(135deg);
}
header .burger-menu.active:after {
  transform: translateY(-7px) rotate(-135deg);
}
header .burger-menu.active div {
  transform: scale(0);
}
@media screen and (min-width: 576px) {
  header .burger-menu {
    display: none;
  }
}
header .mobile-navigation {
  width: 100vw;
  height: 100vh;
  display: none;
  flex-direction: column;
  align-self: stretch;
  gap: 12px;
  background-color: #0B1A3F;
  border-top: 1px solid rgba(255, 255, 255, 0.75);
  padding: 24px;
  position: absolute;
  top: 75px;
}
header .mobile-navigation.active {
  display: flex;
}
header .mobile-navigation a {
  color: #FFF;
  font-family: BebasNeue, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
  border-bottom: 2px solid transparent;
}
@media screen and (min-width: 576px) {
  header .mobile-navigation {
    display: none;
  }
}
/*# sourceMappingURL=index.css.map */